#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <150>;  /* 数値を変えて調整 */
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        // ▼▼▼ 追加した部分 ▼▼▼
        // Holdでキー入力(&kp)、Tapでマウス入力(&mkp)を行う設定

        mt_mouse: mouse_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // 長押し判定の時間
            quick-tap-ms = <175>;       // 素早い入力の判定
            flavor = "tap-preferred";   // タップ優先（マウス誤爆防止）
            bindings = <&kp>, <&mkp>;
        };

        // ▼ ここから追加 ▼
        // Tapでキー入力(&kp)、Holdでマウス入力(&mkp)

        km_tap: key_mouse_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "KEY_MOUSE_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <200>;    // 長押し判定の時間
            quick-tap-ms = <175>;       // 素早い連打の挙動
            flavor = "tap-preferred";   // タップ入力を優先
            bindings = <&mkp>, <&kp>;

            // ★ここが逆！ Hold=マウス, Tap=キー
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer0 {
            bindings = <
&kp C_BRI_DN                 &kp C_BRI_UP     &kp F7  &kp F5        &kp F11                           &mt W I             &mt R U  &mt T E         &mt Y O         &mt LEFT_CONTROL P
&kp C_VOLUME_DOWN            &kp C_VOLUME_UP  &kp V   &kp LEFT_GUI  &kp D    &trans      &mt MINUS A  &mt PRINTSCREEN S   &mt G D  &mt QUESTION H  &km_tap RCLK K  &lt 1 RETURN
&mt LEFT_CONTROL LEFT_ARROW  &kp RIGHT_ARROW  &kp C   &kp Z         &kp G    &trans      &mt Y Z      &mt C X             &mt V B  &mt M N         &mkp LCLK       &kp BACKSPACE
&trans                       &trans           &trans  &trans        &trans   &trans      &lt 1 SPACE  &mt LEFT_SHIFT TAB                                           &mt LEFT_WIN GRAVE
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                               &trans            &trans                             &kp N7  &kp N8          &mt N9 AT_SIGN
&trans  &trans  &trans  &trans  &trans  &trans      &mt COMMA PERIOD                 &mt A UP_ARROW    &trans                             &kp N4  &kp N5          &kp N6
&trans  &trans  &trans  &trans  &trans  &trans      &mt LEFT_PARENTHESIS LEFT_ARROW  &mt A DOWN_ARROW  &mt RIGHT_PARENTHESIS RIGHT_ARROW  &kp N1  &mt A NUMBER_2  &kp N3
&trans  &trans  &trans  &trans  &trans  &trans      &trans                           &mt LEFT_SHIFT A                                                             &kp N0
            >;
        };
    };
};
