#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Layer0 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                      &mt Q Y                 &mt W U  &mt E I    &mt R O    &mt P T
&trans  &trans  &trans  &trans  &trans  &trans      &mt MINUS A             &mt H S                 &mt J D  &mt F K    &mt G L    &mo 1
&trans  &trans  &trans  &trans  &trans  &trans      &mt SLASH Z             &mt X N                 &mt C M  &mkp LCLK  &mkp RCLK  &kp BACKSPACE
&trans  &trans  &trans  &trans  &trans  &trans      &lt_to_layer_0 2 SPACE  &mt RIGHT_SHIFT RETURN                                 &mt RIGHT_ALT GRAVE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        Layer1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans                  &mt NUMBER_8 NUMBER_3  &mt NUMBER_9 NUMBER_4  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mt COLON LEFT_BRACKET  &mt NUMBER_6 NUMBER_1  &mt NUMBER_7 NUMBER_2  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mt COMMA PERIOD        &mt NUMBER_5 NUMBER_0  &kp V                  &kp B   &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                        &trans
            >;
        };

        Layer2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                           &kp C_BRI_DEC    &kp C_BRI_UP  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &kp C_VOLUME_DOWN            &kp C_VOLUME_UP  &trans        &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &mt LEFT_CONTROL LEFT_ARROW  &kp RIGHT_ARROW  &kp C         &kp V   &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans                       &trans                                         &trans
            >;
        };
    };
};
